<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>S-Admin interface - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="jquery.js"></script> 
  <link rel="stylesheet" href="css/bootstrap.css"/>
    <style type="text/css">
        h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
}

.main-container { 
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer {
    width: 100%;
}  
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container-fluid main-container">
	<a href= "/home" class="btn btn-primary center-block" role="button">Home</a>
	<div class="row   custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Email</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
   
	<div class="row" th:each="user: ${users}">
	 <div th:if="${user.id}!=${currentUserId}">	<!-- hide current user -->
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.email}"></td>
                <td class="text-center"><a class='btn btn-info btn-xs' th:href="@{'http://g.com/'+${user.id}}">
                <span class="glyphicon glyphicon-edit"></span> Edit</a> 
                <a th:href="${'removeuser?user_id='+user.id}" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span> Del</a>
                <a th:href="${'linklist?user_id='+user.id}" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-signal"></span> Info</a>
                </td>
                
            </tr>
     </div>
	</div>
    </table>
    </div>
</div>

</body>
</html>
