<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>S-Admin interface - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="jquery.js"></script> 
  <link rel="stylesheet" href="css/bootstrap.css"/>
    <style type="text/css">


    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">


    <div class="row   custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Short link</th>
            <th>Data</th>
            <th>Creation Time</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    
	<div class="row" th:each="linkInfo: ${linksInfo}">
            <tr>
                <td >
                <a th:href="'/z'+${linkInfo.id}" th:text="${linkInfo.id}"> </a>
                </td>
                <td th:text="${linkInfo.data}"></td>
                <td th:text="${#dates.format(linkInfo.creationTime, 'HH:mm dd.MM.yy')}"></td>
                <td class="text-center"><a class='btn btn-info btn-xs' th:href="@{'http://g.com/'+${linkInfo.id}}">
                <span class="glyphicon glyphicon-edit"></span> Edit</a> 
                <a th:href="${'removelink?link_id='+linkInfo.id}" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span> Del</a>
                <a th:href="${'linkinfo?link_id='+linkInfo.id}" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-signal"></span> Info</a>
                </td>
                
            </tr>    
	</div>
    </table>
    </div>
</div>

</body>
</html>
