<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="zigzag/css/main.css" />
<link href="zigzag/css/stylish-portfolio.css" rel="stylesheet" />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
	type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="jquery.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div
				class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">STATISTIC OF SHORT LINK</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3 col-lg-3 " align="center">
								<img alt="User Pic"
									src="images/statistic.png"
									class="img-circle img-responsive" />
							</div>

							<div class=" col-md-9 col-lg-9 ">
								<table class="table table-user-information">
									<tbody>
										<tr>
											<td>visitors:</td>
											<td>visitors_count</td>
										</tr>
										<tr>
											<td>visitors chrome</td>
											<td>visitors_count_chrome</td>
										</tr>
										<tr>
											<td>visitors opera</td>
											<td>visitors_count_opera</td>
										</tr>
										<tr>
										<tr>
											<td>Windows OS users</td>
											<td>visitors_windows</td>
										</tr>
										<tr>
											<td>Linux users</td>
											<td>visitors_linux</td>
										</tr>
	
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>